<div class="score_attempt">
    <div class="row">
        <div class="col s12">
            <div class="card large #1a237e indigo darken-4">
                <div class="card-content white-text">
                    <span class="card-title #ffff8d yellow-text accent-1"><center><h1>{{{quiz_name}}}</h1> </center> </span>
                    <center><h3 class="#b2ff59 light-green-text accent-2">You scored {{{score}}}% in the quiz</h3></center>
                </div>
                <div class="card-action">
                    <center><a href="/attempt-quiz/{{{quiz_id}}}"><h3>Attempt again</h3></a></center>
                </div>
            </div>
        </div>
    </div>
</div>
